$slack-purple: #4a154b;
$light-blue: #1677c1;
$blue: #1264A3;
$black: #1D1C1D;
$gray: #454254;
$light-gray: #616061; 
$hover-purple: rgba(74,21,75,.9);
$error-color: #E01E5A1A;
$red: #e01e5a; 
$red-error: #d00000;
$sidebar-purple: #400d40;
$sidebar-highlight: #1264a3;
$article-theme-primary: #4a154b;
$article-theme-secondary: #fff;
$attachment-color: #1d1d1d;
$lightest-gray: rgb(226, 225, 226);
$gray-border: #ddd;

