// font

a {
    color: $blue;
}

a:hover {
    text-decoration: underline;
}

button:hover, a:hover {
    cursor: pointer;
}

 
.dashboard-content {
    position: absolute;
    top: 38px;
    left: 260px;
}