
.initial-form {
    display: flex;
    flex-direction: column;
    // width: 400px;
    align-items: center;
    justify-content: center;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $light-gray;

    .initial-form-header {
        padding: 48px 0px 40px;
        display: flex;
        width: 100%;
        .logo, > a {
            margin-left: 50%;
            transform: translateX(-50%);
            // width: 134px;
            height: 35px;
        }
        .nav-link {
            margin-left: auto;
            padding-right: 40px;
            font-size: 13px;
            display: flex;
            flex-direction: column;

            a {
                padding-top:7px;
                color: $blue;
                margin-left: auto;
            }
            a:hover {
                text-decoration: underline;
                cursor: pointer;
            }
            p {
                margin-left: auto;
            }
        }
    }
    
    .initial-form-body {
        // position: relative;
    // }
        h1 {
            width: 100%;
            display: flex;
            margin-left: 50%;
            transform: translateX(-50%);
            justify-content: center;
            font-family: lato, sans-serif;
            font-weight: 800;
            font-size: 48px;
            line-height: 46px;
            // max-width: 700px;
            text-align: center;
            letter-spacing: -.75px;
            margin-bottom: 17px;
            color: $black;

            +p {
                line-height: 27px;
                margin-bottom: 20px;
                color: $gray;
                width: 100%;
                display: flex;
                margin-left: 50%;
                transform: translateX(-50%);
                justify-content: center;
            }
        }
        .server-errors {
            height: 40px;
        }
        .server-errors-list li {
            // display: flex;
            // align-items: center;
            color: $red-error;
            list-style-image: image_url("warning_amber-24px.svg");
            list-style-type: disc;
            position: absolute;
            font-size: 30px;
            > span {
                font-size: 18px;
            }
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }

        button, input {
            width: 400px;
            margin-left: 50%;
            transform: translateX(-50%);
            border-radius: 4px;
        }
        input {
            box-sizing: border-box;
            height: 44px;
            padding: 11px 12px 13px;
            // margin-bottom: 20px;
            font-weight: 400;
            color: $black;
            line-height: 1.33333333;
            border-color: $gray;
            border: 1px solid $light-gray;
        }
        ::placeholder {
            color: $light-gray;
            font-weight: 300;
        }
        button {
            font-weight: 900;
            width: 400px;
            background-color: $slack-purple;
            color: white;
            height: 44px;
            display:flex;
            justify-content: center;
            align-items: center;
        }
        button:hover {
            background-color: $hover-purple;
            border-radius: 4px;
            cursor: pointer;
        }
        input:focus, button:focus {
            // --saf-0: rgba(var(--sk_highlight,18,100,163),1);
            // box-shadow: 0 0 0 1px var(--saf-0),0 0 0 5px rgba(29,155,209,.3);
            box-shadow: 0 0 0 4px rgba(29,155,209,.3);
            border-radius: 4px;
        }
    }
    
    .feedback {
        display: none;
    }
    
    img.triangleWarning {
        height: 16px;
        display: none;
    }
    .get-input {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .session-input.error { 
        margin-bottom: 0;
        border-color: $red-error;;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    
    .feedback.error {
        box-sizing: border-box;
        width: 400px;
        height: 36px;
        font-weight: 300;
        display: flex;
        align-items: center;;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 0px 0px 4px 4px;
        margin-top: 0;
        margin-bottom: auto;
        color: $black;
        border: 1px solid $red-error;;
        border-top: 0px;
        background-color: $error-color;
        box-sizing: border-box;
        // height: 44px;
        padding: 11px 12px 13px;
        font-size: 13px;
       
        img {
            height: 16px;
            color: $red-error;
            padding-right: 5px;
            display:inline-block;
        }
    }
    
    #demo {
        background-color: $blue;
        margin-top: 70px;
    }

    #demo:hover {
            background-color: $light-blue;
            cursor: pointer;
    }

    .hidden {
        visibility: hidden;
    }
    .workspace-form-title {
        margin-bottom: 20px;
    }
    .workspaceListItem {
        margin-top: 30px;
        border: 1px solid $gray-border;
        border-radius: 8px;
        width: 100%;
        max-width: 534px;
        height: 75px;
        display: inline-flex;
        // justify-content: center;
        align-items: center;
        color: $black;
        font-size: 20px;
        p {
            padding-left: 20px;
        }
        button {
            height: 36px;
            width: 55px;
            padding: 0 12px 1px;
            color: $black;
            border: 1px solid $gray-border;
            background-color: white;
            font-size: 18px;
            font-weight: 700;
            margin-left: auto;
            transform: none;
            margin-right: 20px;
        }
        button:hover {
            background-color: $lightest-gray;
        }
    }
}