
.sessionFormPage{
    display: flex;
    flex-direction: column;
    // width: 400px;
    align-items: center;
    font-family: lato, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: $light-gray;

    h1 {
        width: 100%;
        display: flex;
        margin-left: 50%;
        transform: translateX(-50%);
        justify-content: center;
        // font-family: 'acari_sansbold',Helvetica Neue,Helvetica,Segoe UI,Tahoma,Arial,sans-serif;
        font-family: lato, sans-serif;
        font-weight: 800;
        font-size: 48px;
        line-height: 46px;
        // max-width: 700px;
        text-align: center;
        letter-spacing: -.75px;
        margin-bottom: 10px;
        color: $black;

        +p {
            line-height: 27px;
            margin-bottom: 20px;
            color: $gray;
        }
    }
    .sf-header {
        padding: 48px 0px 40px;
        display: flex;
        width: 100%;
        .logo {
            margin-left: 50%;
            transform: translateX(-50%);
            // width: 134px;
            height: 35px;
        }
        .link {
            margin-left: auto;
            padding-right: 40px;
            font-size: 13px;
            display: flex;
            flex-direction: column;

            a {
                padding-top:7px;
                color: $blue;
                margin-left: auto;
            }
            a:hover {
                text-decoration: underline;
            }
            p {
                margin-left: auto;
            }
        }
    }

    button, input{
        width: 400px;
        margin-left: 50%;
        transform: translateX(-50%);
        border-radius: 4px;
    }
    input {
        box-sizing: border-box;
        height: 44px;
        padding: 11px 12px 13px;
        margin-bottom: 20px;
        color: $light-gray;
        font-weight: 300;
        line-height: 1.33333333;
        // padding-left: 20px;
        border-color: $gray;
        border: 1px solid $light-gray;
    }
    button {
        font-weight: 900;
        width: 400px;
        background-color: $slack-purple;
        color: white;
        // margin-top: 3px;
        height: 44px;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    button:hover {
        background-color: $hover-purple;
        border-radius: 4px;
        cursor: pointer;
    }
}

.sessionForm label{
    display: block
}
.star {
    color: red;
    font-size: 50%;
    text-align: top;
}