.hidden {
    display: none;
}

.left-arrow {
    height: 0;
    width: 0;
    border-left: 5px solid $side-nav-font;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.down-arrow {
    height: 0;
    width: 0;
    border-top: 5px solid $side-nav-font;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}
.side-nav-bar {
    background-color: $side-nav-purple;
    position: fixed;
    left: 0;
    top: 38px;
    width: 260px;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: $side-nav-font;
    font-family: lato, sans-serif;
}
.channel-list {
    h1 {
        cursor: pointer;
        display:flex;
        height: 28px;
        flex-direction: row;
        padding-left: 20px;
        margin-right: auto;
        align-items: center;
        div {
            margin-right: 12px;
        }
    }
}
.channel-list-item {
    display: inline-block;
    width: 100%;
    p {
        cursor: pointer;
        font-weight: 300;
        font-size: 15px;
        font-family: lato;
        padding: 0 16px 0 30px;
        // margin-right: auto;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        opacity: 1;
        height: 28px;
        line-height: 28px;
        white-space: nowrap;
        color: $side-nav-font;
        span {
            margin-right: 10px;
        }
    }
}
.channel-list-item:hover {
    background-color: $top-nav-purple;
}
.selected, .channel-list-item.selected:hover {
    background-color: $side-nav-selected;
}